/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* FONT */
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

/* UTILITIES */
:root {
    --bg-turquoise: #009688;
    --bg-gray: #EAEAEA;
    --bg-skyblue: #8EDAFC;
    --bg-green: #D5F9BA;
}

.cl-gray {
    color: gray;
}

.cl-skyblue {
    color: var(--bg-skyblue);
}

/* COMMON */
body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
        to top,
        var(--bg-gray) 0%,
        var(--bg-gray) 90%,
        var(--bg-turquoise) 90%,
        var(--bg-turquoise) 100%
    );
}

.avatar {
    width: 40px;
    border-radius: 50%;
}

.app-container {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    height: 90vh;

    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 30%;
    height: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
}

header {
    padding: .5em ;
    border: 1px solid lightgray;
    background-color: var(--bg-gray);

    display: flex;
    justify-content: space-between;
    align-items: center;;
}

.user-img {
    display: flex;
    align-items: center;
}

.user-actions i {
    margin: 0.5em;
}

.user-img h5 {
    margin-left: .8em;
}

/* NOTIFICATION */
.notification {
    height: 70px;
    padding: 1em;
    background-color: var(--bg-skyblue);

    display: flex;
}

.icon-bell {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
}

.icon-bell i {
    line-height: 40px;
}

.text {
    margin-left: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* /NOTIFICATION */

/* SEARCH BOX */
.search {
    width: 100%;
    padding: .3em;

    display: flex;
}

.icon-find {
    width: 10%;
    height: 30px;
    border: 1px solid lightgray;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box-find {
    height: 30px;
    border: 1px solid lightgray;

    flex-grow: 1;
}

.search input {
    width: 100%;
    height: 28px;
    border: none;
}
/* /SEARCH BOX */

/* CONTACTS */
.contacts {
    width: 100%;
    padding: .5em;
    flex-grow: 1;
    overflow-y: scroll;

}

.contact {
    display: flex;
    padding: .5rem;
}

.contact:not(:last-child) {
    border-bottom: 1px solid gray;
}

.contact-text {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
/* /CONTACTS */

/* /SIDEBAR */

/* MESSAGES */
.main-chat {
    width: 70%;

    display: flex;
    flex-direction: column;
}

.messages {
    width: 100%;
    padding: 1rem;
    flex-grow: 1;
    background-image: url(../img/mine.jpg);  
}

.message {
    display: flex;
}

.message-box {
    min-width: 260px;
    max-width: 60%;
    padding: 1em;
    border-radius: 15px;
}

.message.sent .message-box{
    background-color: var(--bg-green);
}

.message.sent {
    justify-content: flex-end;
} 

.message.received .message-box{
    background-color: white;
}
.message.received {
    justify-content: flex-start;
}
/* /MESSAGES */

/* FOOTER */
.footer-icon {
    width: 10%;
    text-align: center;
}

.type-message {
    height: 60px;
    padding: 1em;
    background-color: lightgray;

    display: flex;
    align-items: center;   
    justify-content: space-between;
}

.new-message {
    flex-grow: 1;
}

.new-message input {
    width: 100%;
    height: 50px;

    border: none;
    border-radius: 10px;
}
/* /FOOTER */


